.amarillo{
background-color: yellow;
    
}

.azul{
    
    background-color:blue;
}
.rojo{
    
    background-color:red;
    
}

div{
    width: 200px;
    height: 100px;
    float: right;
    
}

.clearfix { display: inline-block; }

/* Pon tu código css aqui */