.amarillo{
background-color: yellow;
    
}

.azul{
    
    background-color:blue;
}
.rojo{
    
    background-color:red;
    
}

div{
    width: 200px;
    height: 100px;
    clear: left
    
    
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
h2{
    position:relative;
}

.padre{
    width: 800px;
    height: 300px;
    border: 1px solid blue;
    
}


/* Pon tu código css aqui */