.amarillo{
background-color: yellow;
    
}

.azul{
    
    background-color:blue;
}
.rojo{
    
    background-color:red;
    
}

div{
    width: 200px;
    height: 100px;
    
}

/* Pon tu código css aqui */